#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
images:
- name: strapi
  newName: ghcr.io/trustbloc-cicd/sandbox-cms
  newTag: 0.1.9-snapshot-df86df7

secretGenerator:
- envs:
  - secret.env
  name: strapi-env-secret

configMapGenerator:
- files:
  - strapi_configure.sh
  name: strapi-config
- files:
  - bootstrap.js
  name: strapi-bootstrap

resources:
- deployment.yml
- service.yml
