#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Adds namespace to all resources.
#namespace: edge-sandbox-system

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
commonLabels:
  group: demo
  instance: local
  project: trustbloc


apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
- behavior: merge
  envs:
  - ucis/config.env
  name: ucis-ace-rp-env
- behavior: merge
  envs:
  - cbp/config.env
  name: cbp-ace-rp-env
- behavior: merge
  envs:
  - benefits-dept/config.env
  name: benefits-dept-ace-rp-env
- files:
  - ../certs/ca.crt
  name: demo-ca-cert

secretGenerator:
- files:
  - ../certs/tls.crt
  - ../certs/tls.key
  name: demo-applications-wildcard-cert
  type: kubernetes.io/tls

replacements:
- path: benefits-dept/replacements.yml
- path: cbp/replacements.yml
- path: ucis/replacements.yml
- source:
    kind: Secret
    name: demo-applications-wildcard-cert
    version: v1
  targets:
  - fieldPaths:
    - spec.tls.0.secretName
    select:
      kind: Ingress
      name: benefits-dept-ace-rp
  - fieldPaths:
    - spec.tls.0.secretName
    select:
      kind: Ingress
      name: cbp-ace-rp
  - fieldPaths:
    - spec.tls.0.secretName
    select:
      kind: Ingress
      name: ucis-ace-rp

resources:
- ../../common
- ucis/ingress.yml
- cbp/ingress.yml
- benefits-dept/ingress.yml

transformers:
- sedtransform.yml
- sedb64transform.yml

patchesStrategicMerge:
- ucis/add-ca.yml
- cbp/add-ca.yml
- benefits-dept/add-ca.yml
