<! ––
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
––>

<html lang="en">
<head>
	<title>VIP Travel Agency</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="icon" type="images/png" href="/../img/travel/favicon.png" >
    <link type="text/css" rel="stylesheet" href="/../css/travel.css" >
    <script src="/../js/jquery.min.js"></script>
</head>
<body>
<div class="navHolder"><div class="nav"></div></div>
<div class="bannerHolder">
<div class="banner">
    <div class="bannerLeft">

    </div>
    <div class="bannerRight">
        <div class="bannerText">
            <h1>Introducing The New VIP Travel Card</h1>
            <h2>Features and Benefits of VIP Travel Card:</h2>
            <ul>
            	<li class="offerList">Free Comprehensive Travel Insurance</li>
                <li class="offerList">Exciting offers and discounts at your favourite destination</li>
                <li class="offerList">Superior security through 3D Secure and CHIP and PIN technology</li>
            </ul>
        </div>
        <div class="apllyNow">
            <a href="/login?scope=TravelCard" id="issueTravelCard"><img src="/../img/travel/apply.png" width="320" height="56"></a>
        </div>    
    </div>
</div>
</div>
<div class="subHolder">
    <div class="sub"></div>
    <div class="sub1"></div>
    <div class="sub2"></div>
</div>
<div class="footerHolder"><div class="footer"></div></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const querystring = urlParams.get('vcsProfile');
    $('#issueTravelCard').each(function(){
        var href = $(this).attr('href');
        href += (href.match(/\?/) ? '&' : '?') + "vcsProfile" + "=" + querystring;
        $(this).attr('href', href);
    });
</script>
</body>
</html>
