<! ––
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
––>

<html>
<head>
<title>University Degree Certificate</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/../css/w3c.css" >
</head>
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
        height: 100%;
        line-height: 1.8;
    }

    html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/../img/udc/udc.jpg");
        min-height: 100%;
    }
</style>
<body>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Get your University Degree Certificate</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Get University Degree Certificate</span><br>
        <p> <a href="/login?scope=UniversityDegreeCredential" id="issueUDC" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Issue University Degree Certificate</a></p>
    </div>
</header>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
    <p>Copyright &copy; <a href="https://securekey.com/" rel="nofollow" >SecureKey Technologies</a> and the TrustBloc Contributors</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const querystring = urlParams.get('vcsProfile');
    $('#issueUDC').each(function(){
        var href = $(this).attr('href');
        href += (href.match(/\?/) ? '&' : '?') + "vcsProfile" + "=" + querystring;
        $(this).attr('href', href);
    });
</script>

</body>
</html>
