<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.
Copyright Gen Digital Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<!doctype html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/credential-handler-polyfill@2.1.1/dist/credential-handler-polyfill.min.js"></script>
        <script src="https://unpkg.com/web-credential-handler@1.0.1/dist/web-credential-handler.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
                integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>OpenID4CI PreAuth - TrustBloc Issuer</title>

        <style>
            .oval {
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                filter: blur(50px);
                height: 5.875rem; /* 94px */
                top: -4rem;
            }
            .bg-gradient-full {
                background-image: linear-gradient(153deg,#ec857c,#cc3566 26%,#df7f75 47%,#90399e 66%,#5d5cbd 83%,#2f97d9);
            }
            .bg-gradient-dark {
                background-image: linear-gradient(-135deg,#261131,#100716);
            }
            .button-gradient {
                background: linear-gradient(#8631a0 0%, #360b4c 100%);
            }
        </style>
    </head>
    <body>
        <div class="flex h-screen w-screen flex-col justify-start items-center bg-white">
            <header id="header" class="relative flex h-auto w-full flex-col items-center justify-center bg-gradient-dark p-6 lg:pr-16">
                <div class="oval absolute h-14 w-full bg-gradient-full"></div>
                <h1 class="text-2xl text-white font-semibold text-center">TrustBloc Demo Issuer (OpenID4CI Pre-Auth Code Flow)</h1>
                <div class="mt-6 lg:absolute lg:right-0 lg:mr-6 lg:mt-0 flex flex-row justify-end items-center">
                    <a class="text-3xl text-white focus:outline outline-white outline-offset-2" href="https://github.com/trustbloc/sandbox">
                        <i class="fa-brands fa-github-square"></i>
                    </a>
                    <select id="select-profile" class="ml-4 bg-transparent text-white focus:outline outline-white outline-offset-4">
                        {{range .Profiles}}
                        {{ if .IsSelected }}
                        <option value="{{.ID}}" selected="selected">{{.Name}}</option>
                        {{else}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                        {{end}}
                    </select>
                </div>
            </header>
            <!-- Main Content -->
            <div class="w-full w-full z-10 grow flex-col items-center justify-start bg-slate-100 p-8 overflow-scroll">
                <div class="w-full p-4 grid place-items-center">
                    <label id="txState">State: awaiting QR code scan</label>
                </div>
                <div id="qr-code-box" class="w-full p-4 grid place-items-center">
                    <div id="qrCode"></div>
                    <span class="mt-8 w-full max-w-4xl text-center overflow-scroll">{{.URL}}</span>
                    <button id="copy-initiate-url-button" class="relative rounded-md border border-black flex flex-row justify-center p-2 items-center mx-2 mb-8 mt-2 button-gradient text-white" onclick="copyInitiateUrl()">
                        <span class="mx-2 text-lg text-white">Copy Initiate URL</span>
                        <i class="fa-solid fa-copy text-white text-2xl mx-2"></i>
                        <span id="initiate-url-helper" class="absolute -right-16 ml-4 text-center text-black hidden">Copied!</span>
                    </button>
                </div>
                <div class="w-full p-4 flex flex-row justify-center items-center" id="pinBox">
                    <label for="pin2" class="mx-2 text-lg font-semibold text-gray-900">PIN</label>
                    <button class="relative flex flex-row items-center mx-2" onclick="copyToClipboard('pin2')">
                        <input type="text" id="pin2"
                               class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg text-center w-full p-2"
                               value="{{.Pin}}" readonly disabled>
                        <i class="fa-solid fa-copy text-gray-900 text-2xl mx-2"></i>
                        <span id="pin2-helper" class="absolute -right-16 ml-4 text-center hidden">Copied!</span>
                    </button>
                </div>
                <div style="display: none">
                    <div id="pin">{{.Pin}}</div>
                </div>
                <div class="w-full p-4 debug">
                    <label>{{.URL}}</label>
                </div>
                <div class="w-full pt-2">
                    <div class="flex flex-col justify-start items-center px-12" id="successBlock" style="display: none">
                        <textarea cols=100 rows=400 class="max-w-full break-all bg-slate-100 overflow-hidden">{{.SuccessText}}</textarea>
                    </div>
                </div>
            </div>

            <footer id="demo-issuer-footer" class="mx-6 w-full py-6 px-15 text-center sticky bottom-0 z-20 border-t border-grey bg-white"></footer>
        </div>
    </body>
    <script>
        $(".debug").hide()

        $("#demo-issuer-footer").html("<p class='text-md'>Copyright © " + new Date().getFullYear() + " <a href=\"https://www.gendigital.com/\" rel=\"nofollow\">Gen Digital Inc.</a></p>");

        const profileSelectList = document.getElementById("select-profile")
        profileSelectList.addEventListener("change", function () {
            const profile = profileSelectList.value
            if (profile) {
                window.location.href = "?profile_id=" + profile
            }
        })

        window.rawURL = {{.URL}}
        window.txId = {{.TxID}}
        window.requiredPin = {{.Pin}}

        if (!window.requiredPin) {
            $("#pinBox").hide()
        }

        parsedUrl = new URL(window.rawURL)
        new QRCode(document.getElementById("qrCode"), window.rawURL);

        window.setState = function () {
            window.axios({
                method: "get",
                url: "/verify/openid4ci/webhook/check?tx="+window.txId,
            }).then(function (stateResp) {
                if (!stateResp.data.type){
                    return
                }

                let text = "State: "
                switch (stateResp.data.type) {
                    case "oidc_interaction_initiated":
                        text += "awaiting QR code scan"
                        break
                    case "oidc_interaction_succeeded":
                        text += "issued successfully"
                        $("#qr-code-box").hide()
                        $("#copy-initiate-url-button").hide()
                        $("#pinBox").hide()
                        $("#successBlock").show()
                        clearTimeout(handle)
                        break
                    case "oidc_interaction_qr_scanned":
                        text += "QR code scanned"
                        break
                }
                $("#txState").text(text)
            });
        }
        window.setState()
        let handle = setInterval(window.setState, 1000)

        function copyToClipboard(id) {
            const copyText = document.getElementById(id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            $("#pin2-helper").css("display", "block");
        }

        function copyInitiateUrl() {
            navigator.clipboard.writeText(window.rawURL);
            $("#initiate-url-helper").css("display", "block");
        }
    </script>
</html>
