/*
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
*/

@charset "utf-8";

@font-face {
    font-family: 'Brown';
    src: url('../fonts/lineto-brown-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lineto-brown-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lineto-brown-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    src: local('Brown'),
    url('../fonts/lineto-brown-regular.woff') format('woff'),
    url('../fonts/lineto-brown-regular.ttf')  format('truetype');
}
body {
    background: #fff;
    color: #000000;
    font-family: Brown;
    margin: 0;
    padding: 0;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2 {
    font-size:22px;
    color:#ffffff;
}
h3 {
    font-size:18px;
    font-weight:bold;
    text-align:center;
    margin:12px;
}
li {
    list-style-image:url(../img/list.png);
    line-height:30px;
    color:#000000;
    font-size:16px;
    font-weight:bold;
    list-style-position:outside;
}
.orText {
    margin:0 auto;
    text-align:center;
    width:100%;
    font-size:18px;
    font-weight:bold;
    color:#666666;
    margin-top:15px;
}
.headerHolder,
.navHolder,
.footerHolder,
.bannerHolder,
.subHolder {
    float:left;
    width:100%;
    margin:0 auto;
}
.headerHolder,
.subHolder {
    background-color:#FFFFFF;
}
.navHolder {
    background-color:#ffffff;
}
.footerHolder {
    background-color:#1d1d1d;
}
.bannerHolder {
    background-color:#ff9148;
}
.header,
.nav,
.footer,
.sub,
.sub1,
.sub2 {
    width:1172px;
    margin:0 auto;
}
.banner {
    width:1455px;
    margin:0 auto;
}
.header {
    height:163px;
    background: url(../img/college/header.png) no-repeat;
}
.nav {
    height:100px;
    background:url(../img/college/nav.png) no-repeat;
}
.footer {
    height:372px;
    background:url(../img/college/footer.png) no-repeat;
}
.banner {
    height:424px;
    background:url(../img/college/banner.png) no-repeat;
}
.sub {
    height:1276px;
    background:url(../img/college/sub.png) no-repeat;
}
.sub1 {
    margin-top:10px;
    height:600px;
    background:url(../img/college/sub1.png) no-repeat;
}
.sub2 {
    height:455px;
    background:url(../img/college/sub2.png) no-repeat;
}
.bannerText {
    padding: 20px 0 0 150px;
}
.apllyNow {
    margin: 25px 0 0 150px;
}
.applyAction {
    float:right;
    width:770px;
}
.vme,
.account {
    text-align:center;
}
.lessMargin {/*
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
*/

@charset "utf-8";

@font-face {
    font-family: 'Brown';
    src: url('../fonts/lineto-brown-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lineto-brown-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lineto-brown-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    src: local('Brown'),
    url('../fonts/lineto-brown-regular.woff') format('woff'),
    url('../fonts/lineto-brown-regular.ttf')  format('truetype');
}
body {
    background: #001c29;
    color: #000000;
    font-family: Brown;
    margin: 0;
    padding: 0;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    color:#fff;
}
h2 {
    font-size:22px;
    color:#000;
}
h3 {
    font-size:18px;
    font-weight:bold;
    text-align:center;
    margin:12px;
}
li {
    list-style-image:url(../img/travel/list.png);
    line-height:30px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    list-style-position:outside;
}
.orText {
    margin:0 auto;
    text-align:center;
    width:100%;
    font-size:18px;
    font-weight:bold;
    color:#666666;
    margin-top:15px;
}
.headerHolder,
.navHolder,
.footerHolder,
.bannerHolder,
.subHolder {
    float:left;
    width:100%;
    margin:0 auto;
}
.subHolder {
    background-color:#001c29;
}
.navHolder {
    background-color:#001c29;
}
.footerHolder {
    background-color:#0d0d0d;
}
.bannerHolder {
    height:370px;
    background-color:#269CE9;
}
.header,
.nav,
.footer,
.sub,
.sub1,
.sub2 {
    width:1172px;
    margin:0 auto;
}
.banner {
    width:1175px;
    margin:0 auto;
}
.header {
    height:163px;
    background: url(../img/header.png) no-repeat;
}
.nav {
    height:93px;
    background:url(../img/travel/nav-travel.png) no-repeat;
}
.footer {
    height:400px;
    background:url(../img/travel/footer.png) no-repeat;
}
.bannerLeft {
    float:left;
    width:455px;
    height:370px;
    background:url(../img/travel/banner.png) right bottom no-repeat;
}
.bannerRight {
    float:right;
    width:700px;
}
.sub {
    height:336px;
    background:url(../img/travel/sub.png) no-repeat;
}
.sub1 {
    height:423px;
    background:url(../img/travel/sub1.png) no-repeat;
}
.sub2 {
    height:600px;
    background:url(../img/travel/sub2.png) no-repeat;
}
.bannerText {
    padding: 20px 0 0 50px;
}
.apllyNow {
    margin: 25px 0 0 150px;
}
.applyAction {
    float:right;
    width:770px;
}
.vme,
.account {
    text-align:center;
}
.lessMargin {
    text-align:center;
    margin:10px 0 25px 0 !important;
}
.successText,
.successAddress {
    padding:0 0 0 60px;
    line-height:30PX;
    font-size:14px;
}
.successText {
    font-weight:bold;
}
.successAddress {
    margin-top:15PX;
}

text-align:center;
    margin:10px 0 25px 0 !important;
}
.successText,
.successAddress {
    padding:0 0 0 60px;
    line-height:30PX;
    font-size:14px;
}
.successText {
    font-weight:bold;
}
.successAddress {
    margin-top:15PX;
}

