#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Adds namespace to all resources.
#namespace: edge-sandbox-system

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
commonLabels:
  component: login-consent
  group: demo
  instance: local
  project: trustbloc


apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

secretGenerator:
- files:
  - certs/tls.crt
  - certs/tls.key
  name: login-consent-wildcard-cert
  type: kubernetes.io/tls

configMapGenerator:
- files:
  - certs/ca.crt
  name: login-consent-ca-cert
- behavior: merge
  envs:
  - login-consent/login-consent.env
  name: login-consent-env

replacements:
- path: hydra/replacements.yml
- path: hydra-admin/replacements.yml
- path: login-consent/replacements.yml
- source:
    kind: Secret
    name: login-consent-wildcard-cert
    version: v1
  targets:
  - fieldPaths:
    - spec.tls.0.secretName
    select:
      kind: Ingress
      name: hydra
  - fieldPaths:
    - spec.tls.0.secretName
    select:
      kind: Ingress
      name: hydra-admin
  - fieldPaths:
    - spec.tls.0.secretName
    select:
      kind: Ingress
      name: login-consent

resources:
- ../common
- hydra/ingress.yml
- hydra-admin/ingress.yml
- login-consent/ingress.yml

transformers:
- sedtransform.yml
- sedb64transform.yml

patchesStrategicMerge:
- login-consent/add-ca.yml
