<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<!DOCTYPE html>
<html>
<head>
    <title>Consent Page</title>
    <link rel="icon" type="images/x-icon" href="img/logo.png" >

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <style>
        body {
            background-image: url("img/header-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<!-- Navigation -->
<div class="flex justify-around bg-200">
    <div class="text-center text-gray-400 bg-400 px-4 py-2 m-2">
        <a href="javascript:history.back()">Issuer</a></div>
    <div class="text-center text-gray-400 bg-400 px-4 py-2 m-2"> <a href="https://github.com/trustbloc/edge-sandbox">Source</a></div>
</div>
<body>
<center>
<div class="container my-24">
    <div class="max-w-3xl rounded shadow-lg">
        <img class="object-cover h-48 w-full" src="img/consent.png">
        <div class="px-6 py-4 bg-gray-100">
            <div class="font-bold text-xl text-green-600 mb-2">An application requests access to your data</div>

            <form action="" method="POST">
            <p class="text-gray-700 text-base">Hi {{.User}}, application <strong>{{.ClientID}}</strong> wants access resources on your behalf:</p>
            {{range $element := .Scope}}
                <label class="md:w-2/3 block text-gray-500 font-bold">
                    <input class="mr-2 leading-tight filled-in" type="checkbox" id="{{$element}}" value="{{$element}}" name="grant_scope" checked="checked" />
                    <span class="text-lg text-black" for="{{$element}}">{{$element}}</span>
                    {{end}}
                </label>
            <br>
            <p>
            <input type="hidden" name="challenge" value="{{.Challenge}}">
                <button type="submit" name="submit" id="reject" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"      value="reject" >Deny access</button>
                <button type="submit" name="submit" id="accept" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"  value="accept" >Allow access</button>
            </p>
            </form>
        </div>
    </div>
    <br>
    <p class="text-center text-gray-400 text-xs">
        Copyright &copy; <a href="https://securekey.com/" rel="nofollow" >SecureKey Technologies</a> and the TrustBloc Contributors
    </p>
</div>
</center>
</body>
</html>
