<!--
Copyright SecureKey Technologies Inc. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="icon" type="images/x-icon" href="img/logo.png" >
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <style>
        body {
            background-image: url("img/header-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>

</head>
<!-- Navigation -->
<div class="flex justify-around bg-200">
    <div class="text-center text-gray-400 bg-400 px-4 py-2 m-2">
        <a href="javascript:history.back()">Issuer</a></div>
    <div class="text-center text-gray-400 bg-400 px-4 py-2 m-2"> <a href="https://github.com/trustbloc/edge-sandbox">Source</a></div>
</div>
<body>
   <center>
        <div class="container my-32">
            <div class="w-full max-w-md">

                <form class="bg-white shadow-md rounded px-8 pt-8 pb-8 md:flex-wrap md:justify-between" action="/login" method="post">
                    <p class="text-green-600 text-xl">Login to your account</p>
                    </br>

                    <input type="hidden" name="challenge" value="{{.login_challenge}}">

                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left" for="email">
                            Email
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none focus:shadow-outline" type='email' name='email' id='email' id="email" value="foo@bar.com" required>
                    </div>

                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left" for="password">
                            Password
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight
                        focus:outline-none focus:shadow-outline" id="password" name='password' type="password" value="foobar">
                        <p class="text-green-500 text-xs italic text-left">For demo password is optional.</p>
                    </div>

                    <div class="flex items-center w-1/4 p-2">
                        <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='submit' id="accept" name='btn_login'>
                            Login
                        </button>
                    </div>
                </form>
                <br>
                <p class="text-center text-gray-400 text-xs">
                    Copyright &copy; <a href="https://securekey.com/" rel="nofollow" >SecureKey Technologies</a> and the TrustBloc Contributors
                </p>
            </div>

        </div>
    </center>
</body>
</html>
