# 
# Copyright SecureKey Technologies Inc. All Rights Reserved. 
# 
# SPDX-License-Identifier: Apache-2.0 
# 

apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
images:
- name: mongo
  newName: docker.io/mongo
  newTag: "4.0"

resources:
- deployment.yml
- service.yml
